:root {
  --white-color: #FFFFFF;
  --brand-color: #21062A;
  --accent-color: #5A0D67;
  --gray-color: #C4C4C4;
  --black-color: #2C2B2B;
}

body {
  font-family: Oswald, Helvetica, sans-serif;
  line-height: 1.5;
}

.main__header, h1, h2 {
  text-transform: uppercase;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 36px;
}

h2::after {
  display: inline-block;
  content: '';
  height: 2px;
  width: 80px;
  background: var(--brand-color);
  position: relative;
  bottom: 15px;
  left: 5px;
}

h3 {
  font-size: 24px;
  font-weight: 300;
}

.text {
  font-size: 18px;
  font-weight: 300;
  color: var(--black-color);
}

a {
  color: inherit;
}

.button {
  display: inline-block;
  color: var(--white-color);
  background: var(--accent-color);
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 15px 55px;
}

.button:hover {
  color: var(--accent-color);
  background: var(--white-color);
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  background: var(--brand-color) url("../img/main/background-shape.png") no-repeat top left;
  background-size: 100% 100%;
  padding: 50px 0 120px;
}

.main .text {
  color: var(--white-color);
}

.header__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 105px;
}

.main {
  color: var(--white-color);
}

.main h2 {
  margin-bottom: 30px;
}

.main h2::after {
  display: none;
}

.main .text {
  margin-bottom: 30px;
}

.main .button {
  margin-bottom: 70px;
}

.socials__row {
  display: flex;
  align-items: flex-end;
}

.main .socials__row {
  padding-left: 60px;

}

.socials__row a {
  margin: 0 4px;
}

.main .container {
  position: relative;
}

.main__image {
  position: absolute;
  right: 0;
  top: 77%;
}

.services {
  padding: 300px 0 100px;
}

.services__row {
  display: flex;
  margin-top: 50px;
}

.services__questions {
  flex: 0 1 505px;
}

.question {
  margin-bottom: 70px;
}

.question:last-child {
  margin-bottom: 50px;
}

.question div, .question p {
  margin-bottom: 12px;
}

.question div {
  color: var(--accent-color);
}

.services__list {
  counter-reset: li;
  margin-left: 95px;
}

.services__list li {
  list-style-type: none;
  counter-increment: li;
  border: 2px solid var(--gray-color);
  position: relative;
  padding: 10px 0 10px 115px;
  width: 450px;
  margin-bottom: 12px;
  line-height: 1.2;
}

.services__list li:last-child {
  margin: 0;
}

.services__list li::before {
  content: counter(li, decimal-leading-zero);
  font-size: 36px;
  color: var(--gray-color);
  rotate: -90deg;
  position: absolute;
  top: 15px;
  left: 30px;
}

.services__list li:hover {
  border-color: var(--accent-color);
  width: 500px;
}

.services__list li:hover h3 {
  color: var(--accent-color);
}

.services__list li:hover::before {
  color: var(--accent-color);
}

.stats {
  padding-bottom: 100px;
}

.stats__row {
  display: flex;
}

.stats__image {
  margin-right: 95px;
  flex: 0 1 auto;
}

.stats__text {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.stats__text > h2 {
  text-align: center;
}

.stats__block {
  flex: 1 1 auto;
  background: var(--brand-color);
  color: var(--white-color);
  padding: 25px 0 45px 25%;
  line-height: 1.1;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stats__block .text {
  color: var(--white-color);
}

.stats__item {
  max-width: 315px;
}

.stats__item h3 {
  margin-bottom: 10px;
}

.stats__item .text {
  color: var(--gray-color);
}

.cases__row {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.case {
  border: 1px solid var(--gray-color);
}

.case img {
  padding: 5px;
}

.case__text {
  padding: 18px 0 16px;
  margin: 0 auto;
  text-align: center;
}

.case__title {
  margin-bottom: 5px;
}

.case:hover {
  background: var(--accent-color);
}

.case:hover .case__text  {
  color: var(--white-color);
}

.cases__slider {
  display: flex;
  justify-content: center;
}

.cases__slider div {
  content: '';
  height: 1px;
  width: 50px;
  background: var(--gray-color);
  margin: 0 10px;
}

.cases__slider .cases__slider__enabled {
  height: 4px;
  background: var(--accent-color);
}

.footer {
  margin-top: 100px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
}

.footer__columns__item {
  flex: 1 1 50%;
}

.contacts {
  padding-top: 50px;
}

.contacts__title {
  color: var(--accent-color);
}

.contacts h2 {
  margin-bottom: 50px;
}

.contacts__item {
  margin-bottom: 20px;
}

.contacts__item:last-child {
  margin: 0;
}

.footer__form {
  background: var(--brand-color);
  color: var(--white-color);
  padding: 50px 75px 60px;
}

.footer__form h2 {
  text-align: center;
  margin-bottom: 15px;
}

.footer__form h2::after {
  background: var(--white-color);
}

.footer__form form {
  display: flex;
  flex-direction: column;
}

.footer__form input {
  background: inherit;
  color: var(--gray-color);
  border: 1px solid var(--white-color);
  padding: 24px 0;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
}

.footer__form .button {
  margin-top: 60px;
  align-self: center;
}

.footer__bottom {
  background: var(--brand-color);
  color: var(--white-color);
}

.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.footer__links a {
  color: var(--white-color);
}

.footer__links .socials__row {
  position: relative;
  left: -15px;
}
